opencv-python
pillow
torch>=2.3.0
torchvision>=0.18.0
timm>=1.0.7
albumentations>=1.4.8
opencv-python-headless>=4.9.0.80
numpy>=1.26.0
pandas>=2.2.0
matplotlib>=3.8.0
scikit-learn>=1.4.0
tqdm>=4.66.0
